body{
    background-color: indigo;
}

.app-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8%;
}

.movieContainer{
    width: 11%;
    margin-top:1.5vw;
    position: relative;
}

img{
    width: 100%;
    height:80%;
}

.movieExplain{
    width:100%;
    height:19%;
    display:flex;
    justify-content: space-between;
    color:white;
    background-color: blueviolet;
    font-size:0.8vw;
    cursor:pointer;
}

#movieTitle{
    padding-left:0.5vw;
}

#movieVote{
    padding-right:0.5vw;
}

.overExplain{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black;
    opacity: 0.8;
    color:white;
    font-size:0.5vw;
    width:100%;
    height:100%;
    display:none;
}

.movieContainer:hover .overExplain {
    display: block;
    cursor:pointer;
}

#overTitle,
#overView{
    padding-left:0.5vw;
    padding-right:0.5vw;
}

#overTitle{
    font-size:1vw;
}